body {
    font-family: 'Montserrat', sans-serif;
    letter-spacing: 1px;
    background-color: $body;
    user-select: none;
}

.wrapper {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    overflow: auto;
}

.restart-btn {
    @include button-reset;
    background-color: $body;
    border-radius: 10px;
    padding: 10px;
    font-size: 25px;
    color: $white;
    &:hover {
        background-color: $bodyHover;
    }
}

.game {
    display: flex;
    padding: 30px;
    margin: 30px;
    background: linear-gradient(45deg, $brown1, $brown2);
    border-radius: 10px;
    gap: 35px;
    box-shadow: 0 0 1rem $shadow;
    overflow: hidden;
}

.closed {
    background: linear-gradient(45deg, $closed1, $closed2);
    
    &:hover {
        cursor: pointer;
        background: linear-gradient(45deg, #3c5297, #536294);
        filter: drop-shadow(0 0.1rem 0.2rem #030303);
    }
}

.opened {
    background-color: #151D35;
    &:hover {
        cursor: default;
    }
}

.hide {
    display: none;
}

.openColor {
    animation: openSquare .2s;
}
