.wrapper {
    max-width: $maxWrapperWidth;
    display: flex;
    flex-direction: column; 
    min-height: 100vh;
}

.container {
    max-width: $maxContainerWidth + $containerPadding;
    padding: $containerPadding;
    margin: 0 auto;
}

.footer {
    margin-top: auto;
}