.erco {
    font-size: 16px;
    background-color: #fff;

    &:hover {
        background-color: #000;
    }

    .hello {
        font-size: 25px;
    }
    .start {
        height: 100px;
    }
}

.jos .mox {
    background-color: red;
    &-pipe {
        font-size: 36px;
    }
    .fint {
        padding: 0 auto;
    }
}