// margins/paddings //
$maxContainerWidth: 1100px;
$containerPadding: 15px;
$maxWrapperWidth: 1440px;

// fonts //


// colors //


// mixins //
@mixin button-reset {
    border: none;
    padding: 0;
    background-color: transparent;
}